*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
ul,
li{
    list-style:none;
}
*{box-sizing: border-box; }

header{
    max-width:100%;
    height:75px;
    background-size:cover;
    font-weight:bold;
    margin:0 auto;
}
.inner{
    padding:0 50px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:100%;
    margin: 0 auto;
    max-width: 1080px;
}   
    
.logo1{font-size:31px;
    font-weight:bold;
    color:#1F91BE;
}
/*header右上*/

.header-list{display: flex;}

.headeritem{
    font-size:16px;
    padding:0 33px 0 0;
}
.main-picture{
    background-image:url("test1-img/top.jpg");
    background-size:cover;
    width:100%;
    height:auto;
}/*top画像*/

/*ABOUT以下*/
.contents-wrapper{
    width:100%;
    height:auto;
    padding:0 50px;
}
.container-flex{
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-between; 
    margin: 0 auto;
    max-width: 1080px; 
    }
/*PICTURE&CATEGORY*/
.side-wrapper{
    height:auto;
    max-width: 100%;
    padding-top:100px;
}
.side-img{
    max-width:300px; 
    width:100%;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom:30px;
    }

.side-li{ font-size:14px;
    color:#333333;
    line-height:1.5;
    margin:7.5px;
    font-weight:bold;
    letter-spacing: 1px;
    width:300px;
}
.about1{margin-right:60px}
.category-area{width:300px;} 
h4{
    font-size:24px;
    color:#1F91BE;
    border-bottom:4px solid #1F91BE;
    width:300px;
    padding:40px 166px 9px 0px;
    margin-bottom:30px;
}
/*ABOUT&NEWS*/
.article-wrapper-flex{
    width: 100%;
    height:auto;
    max-width:700px;
}
/*ABOUT*/
.about-area{
    width:100%;
    height:auto;
}
.inner2-flex{
    width:100%;
    height:auto;
    max-width:700px;
}
.logo2{
    font: Bold 32px/54px YuGothic;
    width:100%; 
    color:#1F91BE;
    border-bottom:4px solid #1F91BE;
    margin:100px 0 30px 0;
    padding-bottom: 9px;
    max-width:700px;
}
.picturex2-flex{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.text1{
    font-size:16px;
    color:#333333;
    height:auto;
    padding-top:30px;
    line-height:27px;
}
.text2{
    font-size:16px;
    color:#333333;
    height:auto;
    padding-top:30px;
    line-height:27px;
}
/*NEWS*/
.news-area{width:700px;}
.date-flex{display:flex;flex-direction: row;}
.logo3{
    font: Bold 32px/54px YuGothic;
    color:#1F91BE;
    border-bottom:4px solid #1F91BE;
    max-width: 100%;
}/*NEWSロゴ*/
.date_001,.date_002,.date_003{
    font-size:14px;
    color:#333333;
    font-family:Medium;
    opacity: 1;
    font-weight:bold;
    padding:20px 35px 20px 0;
}
.text-contents1{
    padding:0 20px 20px 0;
    line-height:1.2;
    width:500px;
    max-width:100%;}
.text-contents2{  
    padding:20px 20px 20px 0;
    line-height:1.2;
    width:500px;
    max-width:100%;}
.text-contents3{
    line-height:1.2;
    padding:20px 0 20px 0;
    width:500px;
    max-width:100%;}
.date-flex{border-bottom: 0.5px solid #333333;}
.btn-wrapper{
    display:block;
    font-size:16px;
    border:3px solid #1F91BE; 
    text-align:center;
    float:right;
    width:148px;
    height:35px;
    font-weight:bold;
    padding-top:10px ;
    color:#1F91BE; 
    line-height:11px;
    margin-top:20px;
    }


footer{
    width:100%;
    height:50px;
    background-color:#C7C7C7;
    margin-top:150px;
}
footer p{
    font-size:12px;
    color:#FFFFFF;
    height:13px;
    text-align:center;
    padding-top:20px;
}
.about-img1{
    width:320px;
    margin-right:60px;
}

@media screen and (max-width: 1160px) {
    /* 1160px-1000px タブレットの記述 */
.side-wrapper{width:230px;}
.article-wrapper-flex {
    width: 100%;
    max-width: 600px;}
    .side-wrapper{margin:0 20px;}
    .article-wrapper-flex{margin: 0 auto;}
    .category-area{max-width: 300px;width:100%;}
    .container{margin:0 auto;}
}
@media screen and (max-width: 1080px) {
    /* 1080px-769px タブレットの記述 */
    .news-area{ width: 100%;}
.contents-wrapper{height:auto;padding:0 15px;}
.container{align-items:center;}
.article-wrapper{
    width:100%;
    height:auto;}
.article-wrapper{margin: 0 auto;}
.side-wrapper{
    width: 100%;
    margin: 0 auto;
    height:auto;
}
.side-li{margin:0 auto;}
.picture-area {
    height: 622px;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}
.category-area{   
    width: 300px;
    height: auto;
    margin:0 auto;
}
.container-flex{
    display:flex;
    flex-direction:column;
}
.inner2{  
    width: 100%;
    height: auto;
    max-width: 700px;
    margin:0 auto;
}
.about-img1{ width: 100%;}
.about1{ width:100%;margin:0 auto;}
.about-img2{ width: 100%;}
.about2{ width: 100%;}
.text1{width:100%;}
.text2{width:100%;}
.side-wrapper{padding-left:initial;}
.text-contents1{width:450px;}
.text-contents2{width:450px;}
.text-contents3{width:450px;}
.side-li{padding-bottom:13px;}
.category-area{margin-bottom:20px;}
}

@media screen and (max-width: 768px) {
    /* 768px-320px タブレットスマホの記述 */
.inner{display: block; padding:0 15px;}
.about-area{
    display: flex;
    flex-direction: column;
    height:auto;
}
.main{height:auto;}
.logo1{font-size:18px;padding:20px 0 10px 0;}
.headeritem{
    font: Bold 14px/24px YuGothic;
    padding:0 12px 0 0;
    }
.inner3{
    width:100%;
    height:auto;
    max-width:700px;
}
.date{display:block;}
.btn-wrapper{
    display:block;
    text-align : center ;margin-top:20px; }
.logo2{
    border-bottom-width: 3px;
    font: Bold 22px/28px YuGothic;
}
.news-area {
    max-width: 700px;
    width: 100%;
    height: auto;
}
.layout{height: 2444px;}
.contents-wrapper{height:auto; 
    display:flex;
    flex-direction: column;}
.text1.text2{padding-top:20px;}
.article-wrapper-flex{
        display:flex;
        flex-direction: column;
}
.text1{padding-bottom:40px;}
.inner3{
    width:100%;
    height:auto;
    max-width:700px;
    margin-bottom:20px;
}
.btn-wrapper{width:100%;
    margin-top:20px;}
.btn-container{
    width:148px;
    height:40px;
    padding:9px 0;
    margin:0 auto;
}
.main-picture{
    background-image:url("test1-img/top.jpg");
}
.picturex2-flex{
    display:flex;
    flex-direction:column;
}
.logo3{
    padding-top:60px;
    font: Bold 22px/28px YuGothic;}
.date-flex{display: block;}
.about-img1{width:100%;}
.about1 {width:100%;margin:0 auto;}
.about2{width:100%;margin:0 auto;}
.side-wrapper{padding-left:initial;}
.container{margin:0 15px;}
.text-contents3 {margin-bottom:20px;}
}
